* { margin: 0; padding: 0; box-sizing: border-box; }

/*auto update ,default spacing */
:root {
    --pink:        #f472b6;
    --pink-dark:   #ec4899;
    --pink-light:  #fce7f3;
    --blue:       #1a1a1a;
    --dark:        #111111;
    --white:       #ffffff;
    --grid-color:  rgba(244,114,182,0.18);
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--pink-light);
    color: var(--black);
    width: 100%;
    overflow-x: hidden;
}

/* navbar */
nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 64px;
    background-color: var(--dark);
    background-color: transparent;
    background: rgba(0, 0, 1, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    z-index: 999;
    box-shadow: 0 4px 30px rgba(0,0,0,0.35);
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}



#logo-name {
    font-family: 'Island Moments', cursive;
    font-size:2rem;
    color: var(--white);
    letter-spacing: 0.05em;
}

#nav-list {
    list-style: none;
    display: flex;
    gap: 48px;
}

#nav-list a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255,255,255,0.75);
    transition: color 0.2s;
}

#nav-list a:hover { color: var(--pink); }

#nav-list li:first-child a {
    color: var(--white);

    text-underline-offset: 4px;
}

#nav-icons {
    display: flex;
    gap: 20px;
}

#nav-icons a {
    width: 30px; height: 30px;
    border-radius: 30%;
    background-color: rgba(255,255,255,0.08);
    border: 1.5px solid rgba(255,255,255,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    transition: background 0.2s, color 0.2s;
}

#nav-icons a:hover {
    background-color: var(--pink);
    border-color: var(--pink);
    color: var(--dark);
}

#nav-icons svg {
    width: 25px; height: 25px;
    fill: currentColor;
}

/* hero  */
#hero {
    width: 100%;
    min-height: 100vh;
    padding-top: 64px;
    background-color: var(--pink-light);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}





/*grid  controller*/

#hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
            linear-gradient(white 4px, transparent 1px),
            linear-gradient(90deg, white 4px, transparent 1px);
    background-size: 80px 80px;
    z-index: 0;
}

.mini-star {
    position: absolute;
    width: 30px;
    height: 28px;
    z-index: 1;
    pointer-events: none;
    animation: twinkle 3s ease-in-out infinite alternate;

}

.mini-star:nth-child(odd)  { animation-duration: 2.5s; }
.mini-star:nth-child(even) { animation-duration: 3.8s; }

@keyframes twinkle {
    from { opacity: 0.3; transform: scale(0.85) rotate(0deg);   }
    to   { opacity: 1;   transform: scale(1.15) rotate(20deg);  }
}



#hero-big-name {
    position: relative;
    z-index: 2;
    margin-top: 32px;
    font-family: 'Press Start 2P', monospace;
    font-size: clamp(60px, 9vw, 96px);
    color: var(--pink);
    letter-spacing: 0.04em;
    text-shadow:
            8px 8px 0 black,
            15px 15px 0 black;
    text-align: center;
    line-height: 1.2;
    animation: nameIn 0.7s cubic-bezier(.22,1,.36,1) both;
    animation: moveUp 3s ease-in-out infinite alternate;
}

@keyframes moveUp {
    from { transform: translateY(0px);   }
    to   { transform: translateY(-20px); }
}

@keyframes nameIn {
    from {
        opacity: 0;
        transform: translateY(-24px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#hero-image {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: 8px;

    animation: imgIn 0.9s 0.2s cubic-bezier(.22,1,.36,1) both;

}



@keyframes imgIn {
    from { opacity: 0; transform: translateY(32px); }
    to   { opacity: 1; transform: translateY(0); }
}

#hero-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: top;
}













/*bio*/
#bio-banner {
    width: 100%;
    background-color: var(--dark);
    padding: 32px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--pink);
}

#bio-text {
    font-family: 'DM Sans', sans-serif;
    font-size: clamp(1.4rem, 2.8vw, 2rem);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    line-height: 1.7;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid var(--pink);
    width: 0;
    animation: typing 4s steps(50) forwards, blink 0.7s infinite;
}

#bio-text span {
    color: var(--pink);
    font-weight: 700;
}

@keyframes typing {
    from { width: 0; }
    to   { width: 750px; }
}













/* about*/


.mini-star {
    position: absolute;
    width: 30px;
    height: 28px;
    z-index: 1;
    pointer-events: none;
    animation: twinkle 3s ease-in-out infinite alternate;

}



.mini-star:nth-child(odd)  { animation-duration: 2.5s; }
.mini-star:nth-child(even) { animation-duration: 3.8s; }

@keyframes twinkle {
    from { opacity: 0.3; transform: scale(0.85) rotate(0deg);   }
    to   { opacity: 1;   transform: scale(1.15) rotate(20deg);  }
}


#about {
    width: 100%;
    height: 600px;
    background-color: var(--pink-light);
    border-top: 3px solid var(--pink);
    border-bottom: 3px solid var(--pink);
    padding: 40px 60px;
    display: flex;
    gap: 20px;
    align-items: center;
    overflow: hidden;
    position: relative;
}


#about-text { flex: 1; }

#about-label {
    font-family: 'Press Start 2P', monospace;
    font-size: 3rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-shadow:
            4px 4px 0 black,
            7px 7px 0 black;
    color: var(--pink-dark);
    margin-bottom: 14px;


}

#about-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 18px;
    line-height: 1.2;
}

#about-desc {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.75;
    max-width: 480px;
}

#about-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
    margin-top: 28px;
}


#about:before{
    content: '';
    position: absolute;
    inset: 0;

    background-image:
            linear-gradient(white 4px, transparent 1px),
            linear-gradient(90deg, white 4px, transparent 1px);
    background-size: 80px 80px;


z-index: 0;
}

#about-text, #about-stats {
    position: relative;
    z-index: 2;
}

/*.work-card {*/
/*    background-color: rgba(255,255,255,0.04);*/
/*    border-radius: 18px;*/
/*    overflow: hidden;*/
/*    border: 2px solid rgba(244,114,182,0.3);*/
/*    transition: border-color 0.2s, transform 0.2s;*/
/*}*/

/*.work-card:hover {*/
/*    border-color: var(--pink);*/
/*    transform: translateY(-20px);*/
/*}*/



.stat-card {
    background: var(--pink-light);

    border-radius: 14px;
    padding: 40px 40px ;
    border: 2px solid var(--pink);


}

.stat-card a:hover.stat-num {
    color: var(--pink);
    border: 2px solid var(--pink);

}


.stat-card:has(a):hover {
    background: var(--pink);
    cursor: pointer;
    transform: translateY(-20px);
    border: 4px solid black;
}

.stat-card:has(a):hover .stat-num,
.stat-card:has(a):hover .stat-label {
    color: white;
}
.stat-num {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.4rem;
    color: var(--pink-dark);
}

.stat-label {
    font-size: 0.78rem;
    color: #888;
    margin-top: 6px;
}

/*stickers*/

/*equal space gnnwa flex*/
#about-img-all {
    flex: 1;
    position: relative;
}

#about-img {
    height: auto;
    top: 80px;
    position: relative;
    left: 100px;
    animation: moveUp 3.5s ease-in-out infinite alternate;
}

@keyframes moveUp {
    from { transform: translateY(0px);   }
    to   { transform: translateY(-70px); }
}

#about-img2 {
    position: absolute;
    top: -62px;
    left: 680px;
    width: 250px;
    height: 250px;
    z-index: 3;
}

#about-img2 img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
#about-img img {
    width: 1050px;
    height: auto;
    object-fit: contain;
}








/* work */
#works {
    width: 100%;
    background-color: var(--dark);
    padding: 80px;
    position: relative;
    overflow: hidden;
}

#works::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
            linear-gradient(rgba(244,114,182,0.08) 1px, transparent 1px),
            linear-gradient(90deg, rgba(244,114,182,0.08) 1px, transparent 1px);
    background-size: 40px 40px;
}

#works-label {
    position: relative;
    z-index: 1;
    font-family: 'Press Start 2P', monospace;
    font-size: 6rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    text-shadow:
            4px 4px 0 black,
            7px 7px 0 black;
    color: var(--pink);
    margin-bottom: 14px;
}

#works-title {
    position: relative;
    z-index: 1;
    font-family: 'Press Start 2P', monospace;
    font-size: 30px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 48px;
    line-height: 1.5;
}

#works-grid {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



.work-card {
    cursor: pointer;
    background-color: rgba(255,255,255,0.04);
    border-radius: 18px;
    overflow: hidden;
    border: 2px solid rgba(244,114,182,0.3);
    transition: border-color 0.2s, transform 0.2s;
}

.work-card:hover {
    border-color: var(--pink);
    transform: translateY(-20px);
}

.work-thumb {
    height: 160px;
    background: linear-gradient(135deg, #3d0020, #6b0f3a);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-bottom: 2px solid rgba(244,114,182,0.25);
}
/*//////////////////////////*/
.work-info { padding: 18px 20px; }

.work-info h3 {
    font-family: 'Press Start 2P', monospace;
    font-size: 0.6rem;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 8px;
    line-height: 1.6;
}

.work-info p {
    font-size: 0.82rem;
    color: rgba(255,255,255,0.55);
    line-height: 1.55;
}

.tag {
    display: inline-block;
    margin-top: 10px;
    padding: 4px 12px;
    background-color: rgba(244,114,182,0.15);
    border: 1px solid var(--pink);
    border-radius: 20px;
    font-size: 0.7rem;
    color: var(--pink);
    font-weight: 500;
}










/*contact*/


#contact {
    width: 100%;
    background-color: var(--pink-light);
    border-top: 3px solid var(--pink);
    padding: 90px;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

#contact::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
            linear-gradient(white 4px, transparent 1px),
            linear-gradient(90deg, white 4px, transparent 1px);
    background-size: 80px 80px;
    z-index: 0;
}


#contact-text,
#contact-form {
    position: relative;
    z-index: 1;
}


#contact-text {
    flex: 1;
}

#contact-label {
    position: relative;
    z-index: 1;
    font-family: 'Press Start 2P', monospace;
    font-size: 3rem;

    line-height: 1.5;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    text-shadow:
            4px 4px 0 black,
            7px 7px 0 black;
    color: var(--pink);
    margin-bottom: 14px;

}



#contact-title {
    position: relative;
    z-index: 1;
    font-family: 'Press Start 2P', monospace;
    font-size: 30px;
    font-weight: 400;
    color: var(--white);
    margin-top: 10px;
    margin-bottom: 48px;
    line-height: 1.5;
    color: var(--dark);
}

#contact-form {
    flex: 1.4;
    display: flex;
    flex-direction: column;
    gap: 14px;
}


#form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group label {
    font-family: Limelight;
    font-size: 1rem;
    color: #050505;
    letter-spacing: 0.08em;
}

.form-group input,
.form-group textarea {
    padding: 12px 16px;
    border-radius: 10px;
    border: 2px solid rgba(236,72,153,0.3);
    background-color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    color: black;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--pink-dark);
}

.form-group textarea {
    resize: vertical;
    min-height: 120px;
}




/*button*/
#btn-send {
    padding: 13px 30px;
    background-color: black;
    color: var(--pink);
    border-radius: 10px;
    font-family: monospace;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
}

#btn-send:hover {
    background-color: var(--pink-dark);
    color: white;
}






/* footer */
footer {
    width: 100%;
    background-color: var(--dark);
    padding: 28px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-logo {
    font-family: 'Island Moments', cursive;
    font-size: 5rem;
    color: var(--pink);
    letter-spacing: 0.05em;
}

#footer-links {
    list-style: none;
    display: flex;
    gap: 24px;
}

#footer-links a {
    text-decoration: none;
    font-size: 0.82rem;
    color: rgba(255,255,255,0.45);
    transition: color 0.2s;
}

#footer-links a:hover { color: var(--pink); }

#footer-copy {
    font-size: 0.78rem;
    color: rgba(255,255,255,0.3);
}








